<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<head>
<meta charset="UTF-8">
<title>Clubs</title>
</head>
<body>
	<h1>List of Clubs</h1>
	<br>
	<table class="table">
		<tr>
			<td>Club index</td>
			<td>Club name</td>
			<td>Manager name</td>
		</tr>
		<tr th:each="prod : ${clubs}">
			<td th:text="${prod.clubId}">Index</td>
			<td th:text="${prod.manager}">Manager</td>
			<td th:text="${prod.name}">Name</td>
		</tr>
	</table>
	<form method="GET" action="/panel" enctype="multipart/form-data">
		<input type="submit" value="<--Back">
	</form>
</body>
</html>